<!--
	作者：444811716@qq.com
	时间：2017-08-01
	描述：下载列表
-->
<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/utils/common.css" />
		<style>
			body {
				word-wrap: break-word;
			}

			.mui-table-view:after {
				height: 0px;
			}

			.mui-table-view:before,
			.mui-table-view-cell:after {
				left: 10px;
				right: 10px;
			}

			.mui-progressbar {
				width: auto;
				background-color: #E8E8E8;
				margin: 5px 0;
			}

			.mui-content .mui-table-view-cell {
				display: flex;
				/*justify-content: center;*/
				align-items: center;
			}

			.mui-table-view-cell.mui-active {
				background-color: white;
			}

			.download-type {
				background-color: white;
				padding: 11px 15px 4px 15px;
				top: 10px;
			}

			.download-image {
				margin: 0 15px 0 0;
				width: 40px;
			}

			.download-file-name {
				color: #323232;
			}

			.download-file-size {
				display: inline;
				color: #898989;
			}

			.download-file-speed {
				display: inline;
				float: right;
				color: #898989;
			}

			.mui-icon.mui-icon-closeempty {
				margin-left: 8px;
				color: #BBBBBB;
			}

			.mui-btn.mui-btn-outlined {
				margin-top: -1px;
				border-radius: 20px;
				padding: 8px 15px 6px 15px;
				border-color: #35B8FE;
				background-color: #EEF9FF;
				color: #35B8FE;
			}

			.mui-btn.mui-btn-outlined:active {
				background-color: #35B8FE;
			}

			.download-ellipsis {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				word-wrap: break-word;
			}

			.download-info {
				/*margin-right: 100px;*/
				/*background-color: wheat;*/
			}

			.download-delete-logs {
				float: right;
				color: #35B8FE;
				opacity: 0.5;
			}

			#downloading {
				margin-bottom: 5px;
			}

			#failPop .mui-popup {
				display: block;
				background-color: white;
			}

			#failPop .mui-popup .mui-scroll-wrapper {
				top: 45px;
				bottom: 38px;
			}

			#failPop .mui-popup .mui-popup-buttons {
				margin-top: 129px;
				border-top: 0.5px solid rgba(0, 0, 0, 0.1);
				/*box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);*/
			}

			#failPop .mui-popup .mui-table-view-cell {
				padding: 11px 15px;
			}

			#failPop .mui-popup .mui-table-view {
				background-color: white;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">下载列表</h1>
		</header>
		<div id="content" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="download-type">正在下载{{downloading_title}}</div>
				<ul id="downloading" class="mui-table-view">
					<download-item @tap-close="tapClose" @tap-button="tapButton" v-for="(value,index) in file_array" :key="index" :infowidth="width" :value="value" :index="index"></download-item>
				</ul>
				<div class="download-type download-delete-logs" :style="{opacity:opacity}">清除记录</div>
				<div class="download-type">已下载{{downloaded_num}}</div>
				<ul id="downloaded" class="mui-table-view"></ul>
			</div>
		</div>
		<div id="failPop" class="mui-popover">
			<div class="mui-popup mui-popup-in">
				<div class="mui-popup-inner">
					<div class="mui-popup-title">失败列表</div>
				</div>
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li  v-for="value in failArray" class="mui-table-view-cell mui-ellipsis">{{value}}</li>
						</ul>
					</div>
				</div>
				<div class="mui-popup-buttons"><span @tap="clean" class="mui-popup-button mui-popup-button-bold">确定</span></div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/utils/utils.js"></script>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/libs/vue/vue.js"></script>
		<script type="text/javascript" src="../../js/utils/fileutil.js"></script>
		<script type="text/javascript">
			Vue.component("download-item", {
				props: ["value", "infowidth", "index"],
				template: '\
					<li v-if="value.isShow" class="mui-table-view-cell" style="height: 241px;">\
						<img class="download-image" src="../../images/file/11.png" />\
						<div class="download-info">\
							<div class="download-file-name download-ellipsis" :style="{width: infowidth+\'px\'}">{{value.name}}</div>\
							<div :id="value.taskid" v-show="value.showProgress" class="mui-progressbar">\
								<span></span>\
							</div>\
							<div class="download-file-size">{{value.size}}</div>\
							<div class="download-file-speed">{{value.speed}}</div>\
						</div>\
						<div class="mui-icon mui-icon-closeempty" @tap="tapClose(index)" :data-index="index"></div>\
						<button type="button" class="mui-btn mui-btn-outlined" @tap="tapButton(index)" :disabled="value.disabled">{{value.button}}</button>\
					</li>',
				methods: {
					/**
					 * 点击右侧按钮
					 * @param {Object} index 对应的index
					 */
					tapButton: function(index) {
						this.$emit('tap-button', index);
					},
					/**
					 * 点击右侧删除图标
					 * @param {Object} index 对应的index
					 */
					tapClose: function(index) {
						this.$emit('tap-close', index);
					}
				}
			});

			var main; //当前webview
			var downloadFolder; //下载文件夹对象
			var ul_downloading; //正在下载列表
			var ul_downloaded; //已下载列表
			//下载列表
			var vm_down = new Vue({
				el: "#content",
				data: {
					width: 0,
					deling: false, //是否正在删除
					downloading_num: 0, //正在下载的数量
					downloading_title: "", //正在下载列表的标题
					downloaded_num: "", //已下载的数量
					opacity: 0.5, //清除记录的透明度
					downloading: false, //是否正在下载
					downloadNoWiFi: false, //是否不是在WiFi状态也下载
					downloadingFileId: null, //正在下载的文件id
					downloadingTaskId: null, //正在下载的任务id
					file_array: [], //需要下载的文件记录
				},
				methods: {
					/**
					 * 点击右侧删除图标
					 * @param {Object} index 对应的index
					 */
					tapClose: function(index) {
						//console.log("tapClose:" + index);
						vm_down.deling = true;
						mui.confirm('确认删除？', '提示', ['否', '是'], function(e) {
							vm_down.deling = false;
							if(e.index == 1) {
								if(vm_down.file_array[index].state == "4") {
									//任务已完成
									if(vm_down.file_array[index].result == "200") {
										mui.toast("下载任务已完成")
									} else {
										vm_down.file_array[index].isShow = false;
										vm_down.downloading_num--; //调整标题
									}
								} else {
									//任务未完成
									var wd = utils.showWaiting("处理中...");
									if(vm_down.file_array[index].task !== null) {
										//正在下载中的任务
										vm_down.file_array[index].task.pause();
										vm_down.file_array[index].task.abort();
										vm_down.file_array[index].taskid = null;
										vm_down.file_array[index].task = null;
									}
									vm_down.file_array[index].state = "-3"; //-3,取消下载的任务
									vm_down.file_array[index].isShow = false;
									vm_down.downloading_num--; //调整标题
									wd.close();
									if(index == vm_down.downloadingFileId) {
										initDownloading();
										//继续下载
										startDownloadingFirst();
									}
								}
							}
						}, "div");
					},
					/**
					 * 点击右侧按钮
					 * @param {Object} index 对应的index
					 */
					tapButton: function(index) {
						this.$emit('tap-button', index);
						if(vm_down.file_array[index].state == "-1") {
							//等待中
							return;
						} else if(vm_down.file_array[index].state == "-2" || vm_down.file_array[index].state == "0" || vm_down.file_array[index].state == "1" || vm_down.file_array[index].state == "2" || vm_down.file_array[index].state == "3") {
							//-2,重新进入队列的下载任务;0,下载任务开始调度;1,下载任务开始请求;2,下载任务请求已经接收;3,下载任务接收数据;
							vm_down.file_array[index].disabled = true;
							vm_down.file_array[index].task.pause();
							vm_down.file_array[index].state = "5"; //5,下载任务已暂停
							vm_down.file_array[index].button = "继续";
							initDownloading();
							vm_down.file_array[index].disabled = false;
							//继续下载
							startDownloadingFirst();
						} else if(vm_down.file_array[index].state == "5") {
							//5,下载任务已暂停;
							vm_down.file_array[index].disabled = true;
							vm_down.file_array[index].state = "-2"; //-2,下载任务暂停后重新进入下载队列
							vm_down.file_array[index].button = "暂停";
							vm_down.file_array[index].disabled = false;
							//继续下载
							startDownloadingFirst();
						}
					},
				}
			});
			//监听下载个数
			vm_down.$watch("downloading_num", function() {
				//console.log("$watch-downloading_num:" + vm_down.downloading_num);
				if(vm_down.downloading_num != 0) {
					vm_down.downloading_title = " ( " + vm_down.downloading_num + " )";
				} else {
					vm_down.downloading_title = "";
				}
			});

			//失败列表
			var vm_fail = new Vue({
				el: "#failPop",
				data: {
					failArray: []
				},
				methods: {
					clean: function() {
						mui('#failPop').popover('hide');
						vm_fail.failArray = [];
						vm_down.deling = false;
					},
					show: function() {
						vm_down.deling = true;
						mui('#failPop').popover('show');
						//document.querySelector('.mui-backdrop').style.backgroundColor = "rgba(0,0,0,0.3)";
						document.querySelector('.mui-backdrop').addEventListener('tap', function() {
							vm_down.deling = false;
							vm_fail.failArray = []; //清空列表
						});
					}
				}
			});
			mui.init({
				gestureConfig: {
					doubletap: true, //打开双击
				}
			});
			mui.plusReady(function() {
				initData();
				initListener();
			});

			function initData() {
				var deceleration = mui.os.ios ? 0.003 : 0.0009;
				mui(".mui-scroll-wrapper").scroll({
					scrollY: true, //是否竖向滚动
					scrollX: false, //是否横向滚动
					indicators: true, //是否显示滚动条
					deceleration: deceleration, //阻尼系数,系数越小滑动越灵敏
					bounce: false, //是否启用回弹
				});
				main = plus.webview.currentWebview();
				ul_downloading = document.getElementById("downloading");
				ul_downloaded = document.getElementById("downloaded");
				div_downloaded_title = document.getElementById("downloaded_title");
				div_delete_logs = document.getElementById("delete_logs");
				vm_down.width = plus.screen.resolutionWidth - (30 + 40 + 100 + 15);
				createDownloadFolder();
			}

			function initListener() {
				//增加下载记录
				window.addEventListener('addDownLoad', function(e) {
					//console.log("addDownLoad:" + JSON.stringify(e.detail.data));
					var size = fileutil.convertFileSize(e.detail.data.size);
					var data = {
						url: e.detail.data.url, //文件路径
						name: e.detail.data.name, //文件名称
						initSize: size, //文件大小
						size: size, //显示的文件大小
						speed: "", //下载速度
						isShow: true, //是否显示当前li
						showProgress: true, //是否显示进度条
						button: "等待", //按钮中的文字
						disabled: false, //按钮是否禁止点击
						task: null, //下载任务对象
						taskid: null, //下载任务id
						state: "-1", //下载队列状态:-1,正在等待中;0,下载任务开始调度;1,下载任务开始请求;2,下载任务请求已经接收;3,下载任务接收数据;4,任务完成;5,下载任务已暂停;
						result: "" //下载的结果:200,成功
					}
					vm_down.file_array.push(data);
					vm_down.downloading_num++;
					startDownloadingFirst();
				});

				//修改mui退出当前页面逻辑
				mui.back = function() {
					if(vm_down.deling) { //正在显示删除的弹出框
						mui.closePopups();
						vm_fail.clean();
						return;
					}
					plus.webview.hide(main.id, utils.getAniClose());
				}

				//双击顶部标题栏，回到列表顶端
				document.getElementById('title').addEventListener('doubletap', function() {
					mui('#content').scroll().scrollTo(0, 0, 100); //100毫秒滚动到顶
				});

				//打开文件
				mui('#downloaded').on('tap', 'button', function() {
					fileutil.openFile(this.parentNode.id, function(data) {
						mui.toast(data.message);
					});
				});

				//删除文件
				mui('#downloaded').on('tap', '.mui-icon-closeempty', function() {
					var li = this.parentNode;
					vm_down.deling = true;
					mui.confirm('确认删除？', '提示', ['否', '是'], function(e) {
						if(e.index == 1) {
							var wd = utils.showWaiting("处理中...");
							fileutil.deleteLocalFile({
								fpath: li.id
							}, function(data) {
								if(data.code) {
									ul_downloaded.removeChild(li);
									changeDownloadedTitle();
								}
								wd.close();
								mui.toast(data.message);
								vm_down.deling = false;
							});
						} else {
							vm_down.deling = false;
						}
					}, "div");
				});

				//清除记录
				mui('.mui-content').on('tap', '.download-delete-logs', function() {
					if(vm_down.opacity === 1) {
						vm_down.deling = true;
						mui.confirm('确认清除记录？', '提示', ['否', '是'], function(e) {
							if(e.index == 1) {
								var wd = utils.showWaiting("处理中...");
								var delFileArray = [];
								mui('#downloaded li').each(function(index, element) {
									delFileArray.push({
										fpath: element.id,
										title: element.querySelector(".download-file-name").innerText
									});
								});

								fileutil.deleteFileArray(delFileArray, function(item) {
									//console.log("item:" + JSON.stringify(item));
									if(item.code) {
										ul_downloaded.removeChild(document.getElementById(item.fpath));
									} else {
										vm_fail.failArray.push(item.title);
									}
									changeDownloadedTitle();
								}, function() {
									if(vm_fail.failArray.length !== 0) {
										vm_fail.show();
									} else {
										vm_down.deling = false;
									}
									wd.close();
									mui.toast("执行完成");
								});
							} else {
								vm_down.deling = false;
							}
						}, "div");
					}
				});
			}

			/**
			 * 创建(获取)下载文件夹
			 */
			function createDownloadFolder() {
				plus.io.requestFileSystem(plus.io.PUBLIC_DOCUMENTS, function(fs) {
					//console.log("获取PUBLIC_DOCUMENT文件系统成功:" + fs.root.fullPath);
					//创建download文件夹
					fs.root.getDirectory("download", {
						create: true
					}, function(dfs) {
						//console.log("创建(获取)下载文件夹文件系统成功:" + dfs.name);
						downloadFolder = dfs;
						//读取下载文件夹的文件
						readDownLoadFolder(downloadFolder);
					}, function(de) {
						//console.log("创建(获取)下载文件夹文件系统失败:" + de.code + " " + de.message);
						mui.toast("读取已下载记录失败:" + de.message);
					});
				}, function(e) {
					//console.log("获取PUBLIC_DOCUMENT文件系统失败:" + e.code + " " + e.message);
					mui.toast("读取已下载记录失败:" + e.message);
				});
			}

			/**
			 * 读取下载文件夹的文件
			 */
			function readDownLoadFolder(entry) {
				var reader = entry.createReader();
				reader.readEntries(function(entries) {
					//console.log("读取已下载文件夹成功:" + entries.length);
					for(var i in entries) {
						if(entries[i].isFile) {
							//读取文件的信息
							getFileInfo(entries[i]);
						}
					}
				}, function(e) {
					//console.log("读取已下载文件夹失败:" + e.code + " " + e.message);
					mui.toast("读取已下载记录失败:" + e.message);
				});
			}

			/**
			 * 读取文件的信息
			 */
			function getFileInfo(entry) {
				//console.log("getFileInfo");
				entry.getMetadata(function(metadata) {
					//console.log("读取文件的信息成功:" + entry.name + " " + JSON.stringify(metadata));
					var data = {
						name: entry.name,
						size: fileutil.convertFileSize(metadata.size),
						path: entry.toLocalURL()
					}
					addDownloaded(data);
				}, function(e) {
					//console.log("读取文件的信息失败:" + e.code + " " + e.message);
					var data = {
						name: entry.name,
						size: "",
						path: entry.toLocalURL()
					}
					addDownloaded(data);
				});
			}

			/**
			 * 增加一项已下载
			 * @param {Object} data
			 */
			function addDownloaded(data) {
				//console.log("addDownloaded:" + JSON.stringify(data))
				var ele = document.createElement("li");
				ele.className = "mui-table-view-cell";
				ele.id = data.path;
				ele.innerHTML = '\
						<img class="download-image" src="../../images/file/11.png" />\
						<div class="download-info">\
							<div class="download-file-name download-ellipsis" style="width: ' + vm_down.width + 'px">' + data.name + '</div>\
							<div class="download-file-size">' + data.size + '</div>\
						</div>\
						<div class="mui-icon mui-icon-closeempty"></div>\
						<button type="button" class="mui-btn mui-btn-outlined">打开</button>';
				ul_downloaded.insertBefore(ele, ul_downloaded.firstChild);
				changeDownloadedTitle();
			}

			/**
			 * 改变已下载标题
			 */
			function changeDownloadedTitle() {
				if(ul_downloaded.childNodes.length) {
					vm_down.downloaded_num = " ( " + ul_downloaded.childNodes.length + " )";
					vm_down.opacity = 1;
				} else {
					vm_down.downloaded_num = "";
					vm_down.opacity = 0.5;
				}
			}

			/**
			 * 开始下载1.查询是否有需要下载的文件
			 */
			function startDownloadingFirst() {
				//console.log("startDownloadingFirst");
				if(vm_down.downloading) {
					//有正在下载的任务
					return;
				}
				vm_down.downloading = true;
				var downFile = false; //是否有下载的文件
				var length_0 = vm_down.file_array.length;
				for(var i in vm_down.file_array) {
					//console.log(i + " " + JSON.stringify(vm_down.file_array[i]))
					if(vm_down.file_array[i].state == "-1" || vm_down.file_array[i].state == "-2") {
						//有在等待状态的文件||有继续下载的文件
						vm_down.downloadingFileId = i;
						downFile = true;
						break;
					}
				}
				if(downFile) {
					startDownloadingSecond();
				} else {
					vm_down.downloading = false;
					vm_down.downloadingFileId = null;
					vm_down.downloadingTaskId = null;
					var length_1 = vm_down.file_array.length;
					if(length_0 != length_1) { //数组有新的文件加入
						startDownloadingFirst();
					}
				}
			}

			/**
			 * 开始下载2.判断网络
			 */
			function startDownloadingSecond() {
				var netType = plus.networkinfo.getCurrentType();
				if(netType == plus.networkinfo.CONNECTION_WIFI || vm_down.downloadNoWiFi) {
					//WIFI||没有WIFI也上传
					startDownloadingThird();
				} else {
					if(netType != plus.networkinfo.CONNECTION_NONE) {
						//有网络
						vm_down.deling = true;
						mui.confirm('当前不是无线WIFI网络，还继续下载吗？', '提示', ['否', '是'], function(e) {
							if(e.index == 1) { //是
								vm_down.downloadNoWiFi = true;
								startDownloadingThird();
							} else {
								vm_down.downloadNoWiFi = false;
							}
							vm_down.deling = false;
						}, 'div');
					}
				}
			}

			/**
			 * 开始创建下载任务
			 */
			function startDownloadingThird() {
				//console.log("startDownloadingThird");
				if(vm_down.file_array[vm_down.downloadingFileId].state == "-2") {
					//继续下载
					vm_down.downloadingTaskId = vm_down.file_array[vm_down.downloadingFileId].taskid;
					vm_down.file_array[vm_down.downloadingFileId].task.resume(); //继续下载
					return;
				}

				fileutil.addDownloadTask(vm_down.file_array[vm_down.downloadingFileId].url, "_documents/download/" + vm_down.file_array[vm_down.downloadingFileId].name, function(download, status) {
					//console.log('下载任务完成:' + status + '|' + JSON.stringify(download));
					//处理下载任务
					vm_down.file_array[vm_down.downloadingFileId].state = "4"; //4,任务完成
					vm_down.file_array[vm_down.downloadingFileId].result = status; //下载结果状态
					vm_down.file_array[vm_down.downloadingFileId].task = null; //清理下载任务
					vm_down.file_array[vm_down.downloadingFileId].taskid = null; //清理下载任务
					if(status == 200) {
						//下载成功
						//1.处理下载任务
						vm_down.file_array[vm_down.downloadingFileId].button = "完成"; //改变按钮文字
						vm_down.file_array[vm_down.downloadingFileId].isShow = false; //隐藏列表中的li
						//vm_down.file_array.splice(vm_down.downloadingFileId, 1); //删除数据
						//2.调整标题
						vm_down.downloading_num--;
						//3.增加文件记录
						addFileLog(download.filename);
					} else {
						//下载失败
						//1.处理下载任务
						vm_down.file_array[vm_down.downloadingFileId].button = "失败"; //改变按钮文字
						vm_down.file_array[vm_down.downloadingFileId].disabled = true; //禁止点击
						vm_down.file_array[vm_down.downloadingFileId].size = vm_down.file_array[vm_down.downloadingFileId].initSize; //文件大小
					}
					//重置相关数据
					vm_down.downloadingFileId = null;
					vm_down.downloadingTaskId = null;
					vm_down.downloading = false;
					//继续下载
					startDownloadingFirst();
				}, function(download, status) {
					if(vm_down.downloadingFileId === null || vm_down.file_array[vm_down.downloadingFileId].state == "-3") {
						//任务取消
						return;
					}
					if(download.state == 0 || download.state == 1 || download.state == 2) {
						//console.log('下载状态变化:' + download.state + '|' + JSON.stringify(download));
						//0,下载任务开始调度;1,下载任务开始请求;2,下载任务请求已经接收
						vm_down.file_array[vm_down.downloadingFileId].state = download.state.toString();
						vm_down.file_array[vm_down.downloadingFileId].button = "暂停";
					} else if(download.state == 3) {
						//3,下载任务接收数据
						//console.log('下载状态变化:' + download.state + '|' + JSON.stringify(download));
						if(vm_down.downloadingTaskId != download.id) {
							return;
						}
						vm_down.file_array[vm_down.downloadingFileId].state = download.state.toString();
						//已下载数据的大小
						var downloadSize = fileutil.convertFileSize(download.downloadedSize);
						//下载数据的总大小
						var totalSize = fileutil.convertFileSize(download.totalSize);
						vm_down.file_array[vm_down.downloadingFileId].size = downloadSize + "/" + totalSize;
						var progress = parseInt(download.downloadedSize / download.totalSize * 100);
						mui("#" + download.id).progressbar().setProgress(progress);
					}
					//else {
					////4,下载任务已完成
					//console.log('下载状态变化:' + download.state + '|' + JSON.stringify(download));
					//}
				}, function(dtask) {
					//console.log("下载任务创建完成:" + JSON.stringify(dtask));
					vm_down.downloadingTaskId = dtask.id;
					vm_down.file_array[vm_down.downloadingFileId].task = dtask;
					vm_down.file_array[vm_down.downloadingFileId].taskid = dtask.id;
					dtask.start();
				});
			}

			/**
			 * 成功下载文件后增加文件记录
			 */
			function addFileLog(filePath) {
				plus.io.resolveLocalFileSystemURL(filePath, function(entry) {
					//console.log("获取下载的文件信息成功:" + entry.fullPath);
					getFileInfo(entry);
				}, function(errorCB) {
					//console.log("获取下载的文件信息失败: " + JSON.stringify(errorCB));
					mui.toast("获取文件信息失败");
				});
			}

			/**
			 * 重置下载任务相关参数
			 */
			function initDownloading() {
				vm_down.downloadingFileId = null;
				vm_down.downloadingTaskId = null;
				vm_down.downloading = false;
			}
		</script>
	</body>

</html>