.cell-container {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
}

.tea-headImg {
	width: 43px;
	height: 43px;
	border-radius: 50%;
}

.tea-info {
	width: 50%;
	flex-grow: 1;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

.tea-subject {
	width: 70px;
	height: 40px;
	text-align: center;
}